
//-- app
$app-width: 1200px; // application width
$app-gutter: 16px; // gutter
$app-scrollbar-w: $app-gutter; // scrollbar width
//- app contents
$app-contents-border-r: 16px;
$app-contents-padding: 8px;
$app-contents-padding-half: calc($app-contents-padding / 2);

//-- header
$header-h: 72px;

//-- nav
$nav-w: 232px;

//-- main
$main-w: 952px;
