.su-dialog__wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  width: 100%;
  height: 100%;
  z-index: 24;
  pointer-events: none;

  &.su-dialog--is-fullscreen {
    padding: 0;

    .su-dialog {
      align-items: normal;
      flex: 1 1 auto;
      height: 100%;
    }
  }

  .su-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;

    >* {
      width: 100%;
    }
  }
}

.su-dialog__attached {
  display: contents;
}