
@import './settings/index';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html[data-theme='light'] {
    @import './themes/light';

    background-color: $app-bg-color;
    color: $app-color;
}

html[data-theme='dark'] {
    @import './themes/dark';

    background-color: $app-bg-color;
    color: $app-color;
}