//-- dark theme

//- base
$app-bg-color: map-get($theme-colors, 'dark');
$app-font-color: map-get($theme-colors, 'light');
$app-border-color: lighten(map-get($theme-colors, 'dark'), 30%);

//- scrollbar
$default-scrollbar-color: lighten($app-bg-color, 10%);

//- scheme
$app-bg-color-lighten-1: lighten($app-bg-color, 10%);

@import './common';