@import './imports/index';
@import './tools/index';
@import './settings/index';
@import './utilities/index';

@import './classes/index';
@import './elements/index';
@import './components/index';

html {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  width: 100%;
  font-size: 16px;
  font-family: $heading-font-family;
  text-transform: none;

  body {
    width: 100%;
    height: 100%;
  }
}