
.su-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-h;
    padding-bottom: $app-gutter;
    background: $app-bg-color;
    z-index: 100;
}
.su-header__wrapper {
    width: 100%;
    height: 100%;
    background: lighten($app-bg-color, 10%);
}
.su-header__inner {
    display: flex;
    align-items: center;
    width: $app-width;
    height: 100%;
    margin: 0 auto;
}
