@import './variables';

.su-list-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;

  &:first-child {
    margin-right: 32px;
    margin-left: 0px;
  }
}

.su-list-item--two-line {
  .su-list-item__icon {
    margin-bottom: 32px;
  }
}
.su-list-item--three-line {
  .su-list-item__icon {
    margin-bottom: 48px;
  }
}

.su-list--is-shrink {
  .su-list-item__icon {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* nav */
.su-nav {
  &.su-nav--is-narrow {
    .su-list-item__icon {
      margin-right: 0px;
    }
  }
}