.su-list-item__overline {
  @include set-headings-font('overline');

  display: flex;
  flex: 0 1 auto;
  width: 100%;
  overflow: hidden;

  span {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}