@import './variables';

.su-list-item__title {
  @include set-headings-font('body-1');

  display: flex;
  flex: 0 1 auto;
  width: 100%;
  overflow: hidden;

  span {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.su-list-item--two-line, .su-list-item--three-line {
  .su-list-item__title {
    align-items: flex-end;
  }
}

.su-nav {
  .su-list-item__title {
    @include set-headings-font('body-2');
  }
}