$btn-bg-color: $app-bg-color;
$btn-color: $app-font-color;

$btn-border-radius: 4px;
$btn-rounded-border-radius: 6px;

$btn-icon-padding: 12px;

$btn-sizes: (
  'small': 28,
  'default': 36,
  'large': 44
);