@import '../../styles/styles.scss';

.su-sheet {
  max-width: 100%;

  &.su-sheet--outlined {
    @include set-md-elevation(0);
  }
}

@include set-theme(su-sheet) using ($material) {
  @include set-scrollbar(map-deep-get($material, 'sheets', 'border-color'));

  background-color: map-deep-get($material, 'sheets', 'background-color');

  &--outlined {
    border: thin solid map-deep-get($material, 'sheets', 'border-color');
  }
}