.su-window {
  position: relative;
  
  .su-window__content {
    position: relative;
    height: inherit;

    .su-window-item {
      width: 100%;
    }
  }

  .su-window__attachs {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .su-window__prev {
      margin-right: auto;
    }
    .su-window__next {
      margin-left: auto;
    }
    .su-window__prev, .su-window__next {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 1 52px;
      min-width: 52px;

      cursor: pointer;
    }
  }

  &.su-window--is-vertical {
    .su-window__attachs {
      flex-direction: column;

      .su-window__prev {
        margin-right: 0;
        margin-bottom: auto;
      }
      .su-window__next {
        margin-left: 0;
        margin-top: auto;
      }
    }
  }
}