@import './variables';

.su-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 24;

  .su-header__wrapper {
    @include set-md-elevation(8);
    
    width: 100%;
    height: 100%;
  }

  .su-header__inner {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    
    /* icon */
    > .su-icon {
      width: 48px;
      height: 48px;
    }
    /* divider */
    .su-divider--vertical {
      margin: 0 8px;
    }
  }
}

@include set-theme(su-header) using ($material) {
  .su-header__wrapper {
    background-color: map-deep-get($material, 'cards', 'background-color');
  }
}