@import '../../styles.scss';

.su-app {
  position: relative;
  display: flex;

  .su-app__wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
  }

  .su-app-absoluted__wrapper {
    position: absolute;
    padding: 0 8px;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .su-app-absoluted__inner {
      position: relative;
      width: 100%;
      height: 100%;

      >* {
        pointer-events: auto;
      }
    }
  }

  >.su-img {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

@include set-theme(su-app) using ($material) {
  background-color: map-deep-get($material, 'colors', 'primary');
  color: map-deep-get($material, 'font-colors', 'primary');
}