.su-input {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  max-width: 100%;
  
  .su-input__container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 16px;
    min-width: 0;
    color: inherit;
    border-radius: inherit;

    .su-input__slot-outer {
      display: flex;
      align-items: center;
      flex-grow: 1;
      border-radius: inherit;

      .su-input__prepend, .su-input__append {
        &-outer, &-inner {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .su-input__prepend {
        &-outer, &-inner {
          margin-right: 8px;
        }
      }
      .su-input__append {
        &-outer, &-inner {
          margin-left: 8px;
        }
      }

      .su-input__slot-inner {
        position: relative;
        display: flex;
        align-items: inherit;
        flex-grow: 1;
        border-radius: inherit;

        .su-input__slot {
          position: relative;
          display: flex;
          align-items: center;
          flex-grow: 1;
          border-radius: inherit;

          .su-label {
            @include set-headings-font('caption');

            position: absolute;
            top: -16px;
            width: 100%;
            max-height: 12px;
          }
        }
      }
    }

    .su-input__details {
      position: absolute;
      bottom: -16px;
      width: 100%;
      min-height: 12px;
      overflow: hidden;

      .su-input__messages {
        .su-input__message {
          @include set-headings-font('caption');
          
          line-height: 1;
          overflow-wrap: break-word;
          word-break: break-all;
          word-wrap: break-word;
        }
      }
    }
  }

  &.su-input--has-label {
    .su-input__container {
      margin-top: 16px;
    }
  }

  &.su-input--hide-details {
    .su-input__container {
      margin-bottom: 0;
    }
  }

  &.su-input--is-prepend-outer-event {
    .su-input__prepend-outer {
      cursor: pointer;
    }
  }
  &.su-input--is-prepend-inner-event {
    .su-input__prepend-inner {
      cursor: pointer;
    }
  }
  &.su-input--is-append-outer-event {
    .su-input__append-outer {
      cursor: pointer;
    }
  }
  &.su-input--is-append-inner-event {
    .su-input__append-inner {
      cursor: pointer;
    }
  }

  &.su-input--is-focus {
    fieldset {
      border-color: inherit !important;
      border-width: 2px;
    }

    .su-input__prepend-outer, .su-input__prepend-inner, .su-input__append-outer, .su-input__append-inner {
      color: inherit !important;
    }
  }
}

.su-app--light {
  .su-input {
    .su-input__details {
      color: hsla(0,0%,0%,.7);
    }
  }
  .su-input:not(.su-input--is-error){
    .su-input__prepend-outer, .su-input__prepend-inner, .su-input__append-outer, .su-input__append-inner {
      color: hsla(0,0%,0%,.7);
    }
  }
}
.su-app--dark {
  .su-input {
    .su-input__details {
      color: hsla(0,0%,100%,.7);
    }
  }
  .su-input:not(.su-input--is-error){
    .su-input__prepend-outer, .su-input__prepend-inner, .su-input__append-outer, .su-input__append-inner {
      color: hsla(0,0%,100%,.7);
    }
  }
}