@import '../../styles/styles.scss';

.su-banner {
  width: 100%;

  .su-banner__wrapper {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding-top: 8px;

    .su-banner__content {
      @include set-headings-font('body-2');

      display: flex;
      align-items: center;
      flex: 1 1 auto;
      overflow: hidden;
      padding: 8px;

      .su-icon {
        margin-left: 8px;
        margin-right: 8px;
        
        width: 40px;
        height: 40px;
        font-size: 40px;
      }

      .su-banner__text {
        padding-left: 8px;
        padding-right: 8px;
        line-height: 20px;
        overflow-wrap: anywhere;
      }
    }

    .su-banner__actions {
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: flex-end;
      flex: 1 0 auto;
      padding: 8px;

      .su-btn:not(:first-child){
        margin-left: 8px;
      }
    }
  }

  &.su-banner--single-line {
    .su-banner__text {
      @include set-text-omit;
    }
  }
}