@import '../../styles/styles.scss';

.su-list-item {
  position: relative;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  width: 100%;
  min-height: 48px;
  padding: 0 16px;
  text-decoration: none;

  &.su-list-item--is-link {
    &:before {
      background-color: currentColor;
      border-radius: inherit;
      bottom: 0;
      color: inherit;
      content: "";
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity .2s cubic-bezier(.4,0,.6,1);
    }

    &:hover {
      cursor: pointer;

      &:before {
        opacity: .08;
      }
    }
  }

  &.su-list-item--active {
    &:before {
      opacity: .24;
    }

    &:hover:before {
      opacity: .24;
    }

    &.su-list-group__header {
      &:before {
        opacity: 0;
      }
    }
    .su-icon {
      color: inherit;
    }
  }

  >img {
    width: 100px;
    height: 56px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-left: -16px;
  }

  &.su-list-item--two-line {
    min-height: 64px;
  }
  &.su-list-item--three-line {
    min-height: 88px;

    >img {
      margin-top: 16px;
      margin-bottom: 16px;
      margin-right: 20px;
    }
  }
}

/* nav */
.su-nav {
  &.su-nav--is-narrow {
    .su-list-item {
      padding: 0;
      justify-content: center;
    }
  }
}

@include set-theme(su-list-item) using ($material) {
  &:not(.su-list-item--active) {
    color: map-deep-get($material, 'list-items', 'title');
  }

  .su-list-item__subtitle {
    color: map-deep-get($material, 'list-items', 'subtitle');
  }

  .su-list-item__overline {
    color: map-deep-get($material, 'list-items', 'overline');
  }
}