@import './variables';

.su-sheet {
  max-width: 100%;
  background-color: $sheet-bg-color;

  &.su-sheet--outlined {
    @include set-md-elevation(0);
  }
}

.su-app--light {
  .su-sheet {
    /* scrollbar */
    @include set-scrollbar(hsla(0,0%,0%,.12));

    &.su-sheet--outlined {
      border: thin solid hsla(0,0%,0%,.12);
    }
  }
}
.su-app--dark {
  .su-sheet {
    /* scrollbar */
    @include set-scrollbar(hsla(0,0%,100%,.12));

    &.su-sheet--outlined {
      border: thin solid hsla(0,0%,100%,.12);
    }
  }
}