@import '../../styles/styles.scss';

.su-slide-group {
  display: flex;

  .su-slide-group__wrapper {
    contain: content;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;

    .su-slide-group__content {
      position: relative;
      display: flex;
      flex: 1 0 auto;
      transition: $priamry-transition;
      white-space: nowrap;
    }
  }

  .su-slide-group__prev, .su-slide-group__next {
    align-items: center;
    display: flex;
    flex: 0 1 52px;
    justify-content: center;
    min-width: 52px;

    cursor: pointer;

    &--disabled {
      pointer-events: none;
    }
  }
}