@import '../../styles/styles.scss';

$card-actions-btn-padding: calc(#{$card-padding} / 2);

.su-card__actions {
  display: flex;
  align-items: center;
  padding: $card-actions-btn-padding;

  .su-btn {
    padding: 0 8px;
  }
  .su-btn:not(:first-child) {
    margin-left: 8px;
  }
}