//-- Main
.su-main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  z-index: 0;

  .su-main__layout {
    display: flex;
    justify-content: space-between;

    &-right {
      &-inner {
        position: fixed;
        padding-bottom: 16px;
      }
    }
  }
}